.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fondo
{
  background-color: #000000;
  min-height: 100vh;
  color: rgb(73, 73, 73);
  background-image: url('./img/atm.png');
  background-repeat: no-repeat;
  background-size: 82% 100%;
  background-position: center;
}

.atm
{
  height: 50vh;
  padding-top: 2vh;
  padding-left: 2vh;
  width: 765px;
  background-color: #8097c4;
  border-style: solid;
  border-radius: 43px 43px 5px 5px;
-moz-border-radius: 43px 43px 5px 5px;
-webkit-border-radius: 43px 43px 5px 5px;
  border-color: rgb(95, 95, 95);
  margin: auto;
  position: absolute;
  top: 75px;
  left: 320px;
}

.popup {  
  height: 45vh;
  padding-top: 2vh;
  padding-left: 2vh;
  width: 765px;
  background-color: rgb(201, 164, 164);
  border-style: solid;
  border-color: rgb(95, 95, 95);
  margin: auto;
  position: absolute;
  top: 90px;
  left: 430px; 
  text-align: center;
  padding-top: 50px;
}  
.popup\_inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: white;  
}

.history {  
  height: 50vh;
  width: 300px;
  background-color: #8097c4;
  border-style: solid;
  border-color: rgb(95, 95, 95);
  margin: auto;
  position: absolute;
  top: 75px;
  left: 1045px; 
  padding-top: 25px;
  border-radius: 0px 43px 0px 0px;
-moz-border-radius: 0px 43px 0px 0px;
-webkit-border-radius: 0px 43px 0px 0px;
}  
